nav {
    padding-left: 20px;
}
nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
}
/*form{*/
    /*padding: 20px 20px 20px 20px;*/
/*}*/
section{
    width: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding-top: 70px;
}
.table_header{
    background-color: bisque;
    padding-left: 5px;
    padding-right: 5px;
}
tr:nth-child(even){
    background-color: #f1f1f1;
}
td p{
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0px 5px 0px 0px;
}
label{
    text-align: right;
    display: inline-block;
}
.header {
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.blank_white_row td{
    padding: 10px 0px 10px 10px;
    background-color: white;
}
.add_lab_to_book td{
    background-color: lemonchiffon;
}
.editedElement{
    background-color: #FFFF9C;
}
#add_link{
    color: red;
    font-weight: bold;
    font-size: 15px;
}
.error {
    background-color: mistyrose;
}
.login_failed {
    /*background-color: lightpink;*/
    color: darkred;
    border-color:darkred;
}
h2 {
    color: darkred;
    font-style: italic;
}
